<div class="col-lg-6 col-md-12" id="task#{{ task.id }}">
  <div class="border border-primary p-3 mb-4">
    <div class="mb-2">{{ task.content }}</div>
    <div class="text-body-tertiary mb-2 text-truncate">{{ task.location.label }}</div>
    {% if task.weather %}
    <div class="text-body-tertiary mb-2 text-truncate">
      Temperature: {{ task.weather.temperature }}&deg;C</div>
    {% endif %}
    <div class="text-right">
      <a href="{% url 'todo:task-edit' task.id %}"
        class="text-secondary me-3">edit</a>
      {% if task.marked_as_done_at %}
      <a href="{% url 'todo:mark-task-as-active' task.id %}"
        class="text-secondary">mark as active</a>
      {% else %}
      <a href="{% url 'todo:mark-task-as-finished' task.id %}"
        class="text-secondary">mark as finished</a>
      {% endif %}
    </div>
  </div>
</div>
