*.pyc
__pycache__

.venv

Dockerfile
docker-compose.yaml
README.md
poetry.toml

htmlcov/
.coverage
.pytest_cache/
.ruff_cache/

_storage/
config/
conftest.py
tests/
static/

.dockerignore
.env
.git
.gitignore
